[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
joblib = "*"
pandas = "*"
sklearn = "*"
gunicorn = "*"
requests = "*"
xgboost = "*"


[requires]
python_version = "3.6"
